.page-link {
    color : black;
    padding: 0px;
    margin: 0px;
}

#div-search-pagination-wrapper div {
    width: 40px;
    height: 100%;
    padding: 6px 12px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-search-pagination-wrapper div.active {
    background-color: #e26e6e;
    color: white;
}

.link-search-pagination {
    color: black;
    text-decoration: none;
}

.div-search-prev-pagination {
    border: 1px solid lightgrey;
    border-right: none;
}

.div-search-next-pagination {
    border: 1px solid lightgrey;
}

.div-search-page-number {
    border: 1px solid lightgrey;
    border-right: none;
}