#div-information {
    width: 1000px;
    height: auto;

    margin-top: 50px;
}

.div-userMain {
    border-bottom: 2px solid gray;
}

.div-userList {
    flex-direction: column;

}
#p-SignInfo{
    margin: 0;
    align-items: center;
}

.div-SignUpInformationUserId {
    display: flex;
    border-bottom: 1px solid lightgray;
    /*margin-top: 10px;*/
    align-items: center;
    height: 60px;
}

.userBtn {
    font-size: 15px;
    margin-left: 10px;
    width: 120px;
    height: 26px;
    border: none;
}


#userBtn:hover{
    background-color: lightgray;
}

#clearBtn:hover{
    background-color: lightgray;
}

#SignUpInformationClearBtn {
    border: none;
   width: 150px;
    height: 40px;
    flex-direction: row-reverse;
}

.div-SignUpInformationUserAdd{

    flex-direction: column;
}
.div-userAddClass{
    display: flex;
    border-bottom: 1px solid lightgray;
    /*margin-top: 10px;*/
    align-items: center;
    height: 100px;

}




