/* 제품 상세페이지 메인 이미지 표시영역 부분의 스타일 */
#div-detail-product-info-thumbnail {
    width: 50%;
}

/* 제품 상세페이지 메인 이미지 마진, 패딩 스타일 */
#img-detail-main-thumbnail {
    width: 100%;
    margin-bottom: 30px;
    padding : 10px
}