#div-reviewModal {
    width: 600px;
}

#button-close-top {
    border: 1px solid lightgrey;
    float: right;
    height: 40px;
    width: 40px;
    font-size: 25px;
    border-radius: 4px;
    margin-top: 4px;
    background-color: white;
}

#input-img {
    display: none;
}

#div-img {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#div-img label span {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

#div-previewImg {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#img-previewImg {
    max-width: 500px;
    text-align: center;
}

#button-close-bottom {
    width: 200px;
    height: 50px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid black;
}

#button-insert {
    width: 200px;
    height: 50px;
    background-color: #e26e6e;
    border: 1px solid black;
}