#div-reviewModal-totalScore {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#div-reviewModal-stars {
    text-align: left;
    padding-left: 75px;
    padding-right: 50px;
}

.div-reviewModal-starImg {
    margin-left: 20px;
}

.div-reviewModal-starImg {
    cursor: pointer;
}