#table-detail-delivery-info {
    width: 100%;
    border: 1px solid lightgray;
}

#table-detail-delivery-info th {
    background-color: #f2f1f1;
}

#table-detail-delivery-info th, #table-detail-delivery-info td {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: NanumSquareR;
    font-size: 18px;
    border: 1px solid lightgray;
}