#div-purchase-paymentMethod {
    width: 750px;
    border-top: 2px solid black;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.span-paymentMethodBoxOff {
    padding: 10px 5px 5px;
    border: 2px solid white;
    border-radius: 5px;
    height: 83px;
    width: 120px;
}

.span-paymentMethodBoxOn {
    padding: 10px 5px 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    height: 83px;
    width: 120px;
}

