#div-purchaseReceipt {
    width : 500px;
    height: 305px;
    position : sticky;
    z-index : 100;
    top : 100px;
    left : 1120px;
    float: right;
    margin-top: 85px;
    margin-right: 285px;
}

#purchaseReceipt-collapse {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

#button-OpenIamport {
    width: 300px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
#button-disableIamport {
    width: 300px;
    height: 60px;
    background-color: black;
    color: white;
    opacity: 50%;
    border-radius: 10px;
    margin-top: 20px;
}