#Quantity{
    padding-top: 55px;
}

.cartList img{
    display: flex;
    position: absolute;
    width: 100px;
    height: 120px;
    margin-left: 20px;
}
.cartList input{
    display: flex;
    position: absolute;
    accent-color: #e26e6e;
}
#Quantity button{
    width: 30px;
    border: 1px solid #f7f9fa;
}

.productQuantity{
    width: 30px;
    border: 1px solid #f7f9fa;
    font-size: 15px;
}

.cartTableTitle{
    border-top: 1px solid black;
    padding: 15px;
}

.deleteCart{
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 1px solid lightgrey;
    background: white;
    margin-top: 50px;
    margin-left: 450px;
}

.buyCart{
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 1px solid lightgrey;
    background: white;
    margin-left: 40px;
}

.deleteCart:hover{
    background: #e26e6e;
    color: white;
}

.buyCart:hover{
    background: #e26e6e;
    color: white;
}

.option{
    font-size: 15px;
    font-weight: bold;
}

.productTitle{
    margin-left:130px;
    padding-top: 10px;
}

.productTitle a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.productTitle div{
    padding-top: 20px;
    padding-right: 10px;
}

.productTitle:hover{
    color: black;
    text-decoration: underline;
}

.totalPrice{
    display: flex;
    float: left;
    margin-left: 320px;
    margin-top: 15px;
    font-size: 20px;
}

.totalSale{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
}

.totalMoney{
    float: left;
    font-size: 20px;
    margin-top: 15px;
}
.tableCart:hover{
    background: #f7f9fa;
}

.mypageCart{
    margin-top: 49px;
}

.cartInformation li{
    margin-top: 1px;
    color: gray;
    font-size: 14px;
}




