#input-reviewModal-img {
    display: none;
}

#div-reviewModal-img {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#div-reviewModal-img label span {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

#div-reviewModal-previewImg {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin-left: 10px;
}

#img-reviewModal-previewImg {
    max-width: 500px;
}

#div-reviewModal-img label span:hover {
    cursor: pointer;
}