/* 랜덤으로 추천해주는 견적의 박스영역의 디자인 */
#div-random-spec-wrapper {
    border: 2px solid #EBEBEB;
    width: 435px;
    height: 435px;
}

/* 랜덤으로 추천해주는 스펙의 리스트 스타일 수정 */
#div-random-spec-wrapper li {
    list-style: none;
}

/* 랜덤으로 추천해주는 스펙의 리스트안에 들어가는 박스 스타일 수정 */
.p-random-spec-value {
    width: 125px;
    height: 35px;
    background-color : #f4f4f4;
    border-radius : 15px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    padding: 5px 5px 5px 10px;
    text-align: center;
    margin-bottom: 2px;
}

/* 랜덤 추천 견적부분 세일 강조 */
#p-random-spec-sale {
    color: red;
}

/* 랜덤 추천 견적부분 판매글 */
#p-random-spec-product-title {
    overflow: hidden;
    width: 390px;
    text-overflow: ellipsis;
    white-space: nowrap;
}